# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.4
  - 0.5
  - 0.6
  - nightly
notifications:
  email: false
script:
 - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
 - julia -e 'Pkg.clone(pwd()); Pkg.build("Calc"); Pkg.test("Calc"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("Calc")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'